:root {
  /* https://coolors.co */
  --orange-red-crayola: hsla(1, 100%, 68%, 1);
  --gainsboro: hsla(0, 0%, 85%, 1);
  --cultured: hsla(0, 0%, 96%, 1);
  --ivory: hsla(60, 100%, 96%, 1);
  --robin-egg-blue: hsla(179, 100%, 40%, 1);
  --corn: hsla(53, 100%, 70%, 1);
}

.main-content a {
  color: var(--robin-egg-blue);
}

.main-content a:hover {
  color: var(--corn);
}

a.ti {
  text-decoration: none;
}

.main-content {
  background: white;
  color: #383838;
}

.main-footer {
  color: var(--gainsboro);
}

.main-footer a {
  color: var(--gainsboro);
}

article.single header h1, .highlighted {
  color: var(--orange-red-crayola);
}

article header a {
  color: var(--orange-red-crayola);
}

article .meta {
  color: var(--gainsboro);
}

article .meta a {
  color: var(--gainsboro);
}

article figcaption, article figcaption a {
  color: var(--robin-egg-blue) !important;
}

article figure img {
  border: 1px solid var(--cultured);
  box-shadow: 0.15rem 0.15rem 0.5rem rgba(0, 0, 0, 0.15);
}