:root {
  --black-pearl: #04061f;
  --raisin-black: #221D23;
  --wintergreen-dream: #5F9588;
  --english-violet: #413C58;
  --opal: #A3C4BC;
  --foam: #edfdfd;
  --bright-sun: #fdd142;
  --aquamarine-blue: #5ae0d7;
  --pale-sky: #6c707b;
  --french-gray: #bcbcbd;
  --cerulean: #01a0e2;
  --pine-green: #027a79;
  --alizarin-crimson: #e41c2a;
  --middle-red: #F78E69;
  --copper-red: #D1603D;
  --west-coast: #5c421c;
}

body {
  background-color: var(--foam);

  color: var(--black-pearl);
}

div#circle {
  width: 100vw;
  height: 1500px;
}

div#circle::after {
  content: "";
  background-color: var(--bright-sun);

  width: 1800px;
  height: 1800px;
  
  border-radius: 50%;
  
  position: absolute;

  top: -300px;
  left: -800px;
}

a {
  color: var(--pale-sky);
}

h1 a, h2 a, h3 a {
  text-decoration: none;
}

/* Header and footer colors */

footer.page {
  color:rgba(0, 0, 0, 0.30);
}

header.page a.current {
  color: var(--west-coast);
}

/* Hero page colors */

header#hero h1 {
  color: var(--west-coast);
}

header#hero h1 .special {
  color: var(--wintergreen-dream);
}

/* Blog posts */

.meta {
  color: rgba(0, 0, 0, 0.30);
}

article h1 {
  color: var(--english-violet);
}

@media only screen and (max-width : 480px) {
  div#circle {
    width: 100%;
    height: 250px;
  }

  div#circle::after {
    width: 800px;
    height: 800px;
    
    top: -600px;
    left: -250px;
  }
}