@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans&family=Oswald:wght@300;400;700&display=swap');


body {
  margin: 0;
  padding: 0;

  font-size: 115%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;

  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

article {
  margin: 1.0rem 0 2.0rem;
}

section {
  margin-bottom: 1.0rem;
}

p, li, ol, blockquote {
  line-height: 2.0rem;
}

.readable-width {
  margin-top: 3.0rem;
  max-width: 60rem;
}

div#circle {
  position: absolute;

  top: 0;
  left: 0;

  overflow: hidden;
  z-index: -1;
}

/* Heading, nav, footer for all pages */

.page {
  margin: auto;
  max-width: 80rem;
}

header.page {
  display: flex;
  align-items: center;
}

footer.page {
  margin-top: 4.0rem;
  margin-bottom: 1.0rem;
}

img#logo {
  width: 175px;
  margin: 5.0rem 15.0rem 5.0rem 0;
}

.page nav {
  display: flex;
}

.page nav a {
  text-decoration: none;
}

header.page nav {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 130%;
  column-gap: 3.0rem;
}

footer.page nav {
  gap: 1.0rem;
  margin-bottom: 1.0rem;
}

footer.page nav a {
  font-size: 2.0rem;
}

/* Hero page styles */

header#hero h1 {
  margin: 1.5rem 0 0 0;
  font-size: 5.0rem;
}

header#hero img {
  width: 175px;
  height: 175px;

  border-radius: 50%;
}

/* Link blog */

.link-blog {
  font-size: 1.0rem;
}

.link-blog ul {
  list-style: none;
  
  margin: 0;
  padding: 0;
}

.link-blog li {
  margin: 0.25rem 0;
  padding: 0;
}

.link-blog span::before {
  content: " \2014  ";
}

/* Blog posts */

.meta ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.meta {
  font-size: 0.95rem;
}

figure {
  text-align: center;
}

figure img {
  max-width: 100%;
}

figure figcaption {
  font-size: 0.90rem;
}

figure.feature {
  margin: 0;
  padding: 0;

  width: 100vw;

  position: absolute;
  left: 0;
}

figure.feature div, div.feature-spacer {
  height: 400px;
}

figure.feature div {
  width: 100%;

  padding: 0;
  margin: 0;

  background-size: cover;
  background-position: bottom center;
}

figure.wide {
  margin: 0 -2.0rem;
}

.gallery-row {
  display: flex;
}

@media only screen and (max-width : 1280px) {
  .page {
    margin: 0;
    padding: 1.0rem;
    width: auto;
  }

  img#logo {
    margin: 0 8.0rem 0 0;
  }

  header#hero h1 {
    font-size: 3.0rem;
  }

  header#hero img {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width : 480px) {
  header.page {
    display: block;
  }

  header.page nav {
    margin: 1.0rem 0 0 0;
    column-gap: 2.0rem 0 0 0;
  }

  h1 {
    font-size: 1.9rem;
  }
  
  h2 {
    font-size: 1.4rem;
  }
  
  h3 {
    font-size: 1.1rem;
  }

  figure.wide {
    margin: 0;
  }

  figure.feature div, div.feature-spacer {
    height: 200px;
  }

  .gallery-row {
    display: block;
  }

  .link-blog ul {
    columns: unset;
  }
}
