---
layout: page.njk
---
<header>
  <h1>{ directive.io }</h1>
</header>

<nav role="navigation">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/archive">Archive</a></li>
  </ul>
</nav>

<section>
  {{ content | safe }}
</section>
