---
layout: page.njk
---
<header class="hero">
  <h1>Directive</h1>
</header>

<nav class="main-nav" role="navigation">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/archive">Archive</a></li>
  </ul>
</nav>
{{ content | safe }}