<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>directive.io - {{ title }}</title>

    <link rel="stylesheet" href="/css/dine-divvy/style.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/apps/dine-divvy" id="logo">
          Dine Divvy
        </a>
        <ul>
          <li><a href="#about">Features</a></li>
          <li><a href="#support">Support</a></li>
        </ul>
      </nav>
      <a href="/" id="download-app">Get the App</a>
    </header>
    <section class="hero">
      <div id="hero-image">
        <h1>Split the bill with a tap.</h1>
        <h2>Dine Divvy makes it easy to settle up after a night out.</h2>
      </div>
      <a href="/" id="app-store-link">App Store Link</a>
    </section>
    <section class="about">
      <a name="about"></a>
      <div class="features">
        <div class="import">
          <div class="content">
            <div class="feature-image"></div>
            <h1>Snap &amp; start splitting.</h1>
            <p>Take a picture of your bill or import yesterday’s from happy hour.</p>
            <p>Dine Divvy scans, imports, and itemizes your bill using OCR technology.</p>
          </div>
          <div class="screenshot"></div>
        </div>
        <div class="add-friends">
          <div class="content">
            <div class="feature-image"></div>
            <h1>Add friends &amp; divvy.</h1>
            <p>Dine Divvy’s user-friendly interface makes it easy to divvy items across your party.</p>
          </div>
          <div class="screenshot"></div>
        </div>
        <div class="share">
          <div class="content">
            <div class="feature-image"></div>
            <h1>Share &amp; settle up with a tap.</h1>
            <p>Dine Divvy calculates the total, including tip and taxes, to make repayment easy.</p>
          </div>
          <div class="screenshot"></div>
        </div>
      </div>
    </section>
    <section class="support">
      <a name="support"></a>
      <div class="contact">
        <div>
          <p>Give feedback about the app by leaving a review on the App Store!</p>
          <p>Submit feature requests and tell us how to improve Dine Divvy on Canva.io</p>
        </div>
        <div>
          <p>Email <a href="mailto:dine-divvy-support@directive.io">dine-divvy-support@directive.io</a> with your support questions, inquiries, etc.</p>
        </div>
      </div>
    </section>
  </body>
</html>