<nav class="links">
  <ul>
    <li><a href="https://twitter.com/miked" class="social-icon twitter">@miked</a></li>
    <li><a href="https://github.com/mike-douglas" class="social-icon github">Github</a></li>
    <!-- <li><a href="https://www.instapaper.com/p/miked" class="social-icon instapaper">Instapaper</a></li> -->
    <li><a href="https://instagram.com/thisismiked" class="social-icon instagram">Instagram</a></li>
    <li><a href="https://www.linkedin.com/in/michael-douglas-a6a1b180/" class="social-icon linkedin">Linkedin</a></li>
    <!-- <li><a href="https://standardresume.co/r/mike-douglas" class="social-icon resume">Resume</a></li> -->
  </ul>
</nav>
<footer>
  <span>&copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}</span>
</footer>