<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#baf6fa">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% if page.title == "Home" %}
  <meta name="description" content="{{ site.description }}">
  {% endif %}

  <meta property="og:site_name" content="directive.io">

  <title>

    {% if page.title == "Home" %}
    {{ site.title }}
    {% else %}
    {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49351028-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-49351028-1');
  </script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
</head>