---
layout: page.njk
---
<svg id="home-circle-background" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
  <circle cx="50" cy="50" r="50" />
</svg>

<header id="hero">
  <img src="/images/me.jpg">
  <h1><span class="special">Hi, I'm Mike.</special> I lead teams that build awesome things.</h1>
</header>

<section class="readable-width">
  {{ content | safe }}
</section>

<section class="readable-width">
  <header>
    <h1>Posts</h1>
  </header>
  {%- for post in collections.post | reverse | limit(2) -%}
  <article>
    <header>
      <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    </header>
    <section class="meta">
      <ul>
        <li>
          <time>{{ post.data.date.toDateString() }}</time>
        </li>
      </ul>
    </section>
    <section>
      {{ post.data.excerpt }}
    </section>
  </article>
  {%- endfor -%}
  <footer>
    More posts can be found in the <a href="/archive/">archive</a>.
  </footer>
</section>