---
layout: page.njk
---
<header>
  <h1>Hello</h1>
</header>

<section>
  {{ content | safe }}
</section>

<section>
  {%- for post in collections.post | reverse | limit(2) -%}
  <article>
    <header>
      <h1><a href="{{ post.url }}">{{ post.data.title }}</a></h1>
    </header>
    <section>
      <ul>
        <li>
          <time>{{ post.data.date.toDateString() }}</time>
        </li>
      </ul>
    </section>
    <section>
      {{ post.data.excerpt }}
    </section>
  </article>
  {%- endfor -%}
  <footer>
    More posts can be found in the <a href="/archive/">archive</a>.
  </footer>
</section>