---
layout: content-page.njk
---
<article class="single">
  <header>
    <h1>{{ title }}</h1>
  </header>

  <section class="meta">
    <ul>
      <li class="time">
        <time>{{ page.date.toDateString() }}</time>
      </li>
    </ul>
  </section>

  <section class="body">
    {% if feature %}
    <figure class="feature-image">
      <div style="background-image: url('{{ feature }}');"></div>
      <figcaption>{{ feature_caption }}</figcaption>
    </figure>
    {% endif %}
    {{ content | safe }}
  </section>
</article>