---
layout: content-page.njk
---
<article>
  <header>
    <h1>{{ title }}</h1>
  </header>

  <section>
    <ul>
      <li>
        <time>{{ page.date.toDateString() }}</time>
      </li>
    </ul>
  </section>

  <section>
    {% if feature %}
    <figure>
      <div style="background-image: url('{{ feature }}');"></div>
      <figcaption>{{ feature_caption }}</figcaption>
    </figure>
    {% endif %}

    {{ content | safe }}

  </section>
</article>