:root {
  --main-bg-color: #2F5061;
  --main-txt-color: #F4EAE6;
  --main-txt-sub-color: #4297A0;
  --main-a-color: #E57F84;
  --main-a-sub-color: #dad0cd;

  --panel-bg-color: rgba(255, 255, 255, 0.1);
  --panel-txt-color: #888;
  --panel-a-color: #888;

  --standout-txt-color: #ECC046;
}

body {
  font-size: 110%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  text-rendering: optimizeLegibility;
  background-color: var(--main-bg-color);
}

body > * {
  margin: 2.0em auto 3.0em auto;
  max-width: 40em;
}

/* Links */

a {
  color: var(--main-a-color);
  text-decoration: underline;
}

/* Basic text */

p {
  color: var(--main-txt-color);
  line-height: 1.5em;
}

h1, h2, h3 {
  font-weight: bold;
  padding: 0;
  margin: 1.0em 0 1.0em 0;
  text-rendering: geometricPrecision;
  color: var(--main-txt-color);
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
}

time {
  color: var(--main-txt-sub-color);
}

hr {
  background-color: var(--panel-bg-color);
  border: 0;
  height: 1.0em;
  margin: 1.5em -1.0em 1.5em -1.0em;
}

/* Articles */

article time {
  text-transform: uppercase;
  display: block;
}

article p {
  line-height: 1.75em;
}

article .excerpt {
  display: none;
}

article blockquote {
  border-left: 0.25em solid var(--panel-txt-color);
  padding-left: 0.25em;
  background-color: var(--panel-bg-color);
  color: var(--panel-txt-color);
}

article .centerpiece {
  text-align: center;
}

article .centerpiece img {
  width: 80%;
}

article .title a {
  text-decoration: none;
}

/* Archive listing */

.archive ul {
  list-style: none;
  margin: 1.0em 0 0 0;
  padding: 0;
}

.archive li {
  list-style-type: none;
  margin: 1.5em 0 1.5em 0;
  padding: 0;
}

.archive h3 {
  font-size: 1.25em;
  margin: 0.35em 1.5em 0 0;
}

.archive h3 a {
  color: var(--main-a-sub-color);
  text-decoration: none;
}

.archive h3 a:hover {
  color: var(--standout-txt-color);
}

.archive time {
  display: block;
  text-transform: uppercase;
  font-size: 0.85em;
}

.archive .excerpt {
  margin: 0.75em 0 0.5em 0;
}

/* Quick links */

.quick-links {
  list-style: none;
  margin: 1.0em 0 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.quick-links li {
  list-style-type: none;
  margin: 0.50em 0 0.50em 0;
  padding: 0;
  line-height: 1.5em;
  flex-grow: 1;
  width: 50%;
}

.quick-links li a {
  color: var(--panel-a-color);
  display: block;
}

.quick-links li:nth-child(odd) a {
  margin-right: 1.25em;
}

.quick-links li a:hover {
  text-decoration: none;
  color: var(--standout-txt-color);
}

.quick-links li a span {
  text-transform: uppercase;
  font-size: 0.85em;
  color: var(--panel-a-color);
  display: block;
  margin-top: 0.25em;
}

.quick-links li a span:hover {
  color: var(--panel-a-color);
}

.quick-links li a span .link-icon {
  fill: var(--panel-a-color);
  display: none;
}

.quick-links li a:hover span .link-icon {
  display: inline;
}

/* Spotify playlist */

.playlist {
  list-style: none;
  margin: 1.0em 0 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.playlist li {
  list-style-type: none;
  margin: 0.50em 0 0.50em 0;
  padding: 0;
  flex-grow: 1;
  width: 50%;
}

.playlist a {
  display: flex;
}

.playlist img {
  width: 6.0em;
  height: 6.0em;
}

.playlist div {
  flex-grow: 1;
  display: block;
  margin-left: 0.50em;
}

.playlist div span {
  display: block;
  margin-top: 0.25em;
}

.playlist .track {
  font-size: 1.1em;
  font-weight: bold;
}

.playlist .album {
  font-size: 0.85em;
  text-transform: uppercase;
  color: #888;
}

.playlist li a {
  color: var(--panel-a-color);
}

.playlist li a:hover {
  text-decoration: none;
  color: var(--standout-txt-color);
}

.playlist li a .link-icon {
  display: none;
}

.playlist li a:hover .link-icon {
  display: inline;
  fill: var(--standout-txt-color);
}

/* Site navigation */

nav ul {
  margin: 0;
  padding-left: 0;
}

nav li {
  display: inline;
}

nav.links ul {
  font-size: 0.90em;
  background-color: var(--panel-bg-color);
  text-align: center;
  padding: 1.0em 0 1.0em 0;
  border-radius: 0.5em;
}

nav.links ul li {
  margin: 0 1.0em 0 1.0em;
}

nav.links a {
  color: #222;
}

nav.top ul {
  text-align: left;
}

nav.top ul li {
  margin-right: 1.0em;
}

nav.top a {
  display: table-cell;
  height: 80px;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
}

/* Footer */

footer, footer time {
  text-align: center;
  color: var(--main-txt-color);
}

footer span {
  font-size: 0.85em;
}

/* Misc */

.standout {
  color: var(--standout-txt-color);
}

img.author {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  vertical-align: middle;
}

.bullet {
  margin-left: -2.0em;
  margin-right: 0.75em;
}

/* Image carousel */

#images {
  position: relative;
}

#images img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 1.5em 0 1.5em 0;
}

#carousel {
  z-index: -1;
  position: absolute;
  left: 75px;
  top: 0;
}

/* Mobile */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    font-size: 100%;
  }

  body > * {
    width: 100%;
    max-width: 100%;
  }

  header {
    margin-top: 0;
  }

  header h1 {
    text-align: center;
  }

  h1 {
    margin-top: 0.5em;
  }

  #images {
    text-align: center;
  }

  #images img {
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px;
  }

  .standout {
    display: block;
  }

  .wave {
    display: none;
  }

  nav.top {
    margin-top: 0.5em;
  }

  nav.top ul {
    float: none;
    display: block;
    margin: 1.0em 0 0 0;
    padding: 0;
    text-align: left;
  }

  nav.top a {
    display: inline;
    height: auto;
    text-transform: uppercase;
  }

  nav.links ul {
    padding: 0;
  }

  nav.links ul li {
    padding: 0.75em 0 0.75em;
    display: block;
    font-size: 1.1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0;
  
  }

  nav.links li:last-child {
    border-bottom: 0px;
  }
}
