---
layout: default
---

<header>
  <div id="images">
    <img class="profile" src="/assets/me.jpg">
    <div id="carousel"></div>
  </div>
  <h1><span class="pink">👋 Hi, I'm Mike.</span> I lead teams that build awesome things.</h1>
  <div>
    <p>I'm an Engineering Leader in Providence, RI. I work at <a href="https://insuremytrip.com">InsureMyTrip</a>.</p>
    <p>I'm a music nerd 🎧 and a dog dad 🐶. I try to perfect my espresso
      technique ☕️ and I make a mean aviation cocktail 🍸.</p>
  </div>
</header>
<section class="archive">
  <h1>Posts</h1>
  <ul>
    {% for post in site.posts limit: 5 %}
    <li>
      <time datetime="{{ post.date }}">{{ post.date | date: "%B %-d, %Y" }}</time>
      <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
      {{ post.excerpt }}
    </li>
    {% endfor %}
  </ul>
  <p>
    <a href="/archive">Full Archive &gt;&gt;</a>
  </p>
</section>