---
layout: default
---

<nav class="top">
  <img class="author" src="/assets/me.jpg">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/archive">Archive</a></li>
  </ul>
</nav>
<article>
  <h1 class="title">{{ page.title }}</h1>
  <time datetime="{{ page.date }}">{{ page.date | date: "%b %d, %Y" }}</time>

  {{ content }}

  <nav>
    <ul>
      <li><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
    </ul>  
  </nav>
</article>